$primary-color: #333333;
$secondary-color: #222222;
$tertiary-color: #727272;
$quaternary-color: #999999;
$light-bg: #f8f8f8;
$active-color: #cda72c;

//fonts
$primary-font: 'Open Sans', sans-serif;
$secondary-font: 'Roboto', sans-serif;
$script-font: 'Rock Salt', cursive;

// media queries
$sm: '600px';
$md: '768px';
$lg: '992px';
$xl: '1200px';